@model AskAMech.Domain.ViewModels.ProfileDetailsViewModel
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

@{
    var currentUserId = ViewBag.UserId;
}


@if (User.Identity.IsAuthenticated)
{
    <h4>User Questions</h4>
    <hr />
    if (Model.AskedQuestions.Any())
    {
        foreach (var question in @Model.AskedQuestions)
        {
            <div class="question_row">
                <div class="row">
                    <div class="col-sm-10">
                        <p> @question.Description </p>
                    </div>
                </div>
            </div>

            if (Model.QuestionAnswers.Any())
            {
                foreach (var answer in @Model.QuestionAnswers)
                {
                    if (question.Id == answer.QuestionId)
                    {
                        if (question.Author.Id == currentUserId)
                        {

                            <div class="card">
                                <div class="card-body">
                                    <p> @answer.AnswerDescription </p>
                                </div>
                            </div>
                        }
                    }
                }
            }
        }
    }
}

else
{
    <h4>User Questions</h4>
    <hr />
    if (Model.AskedQuestions.Any())
    {
        foreach (var question in @Model.AskedQuestions)
        {
            <div>
                <div class="question_row">
                    <div class="row">
                        <div class="col-sm-10">
                            <p> @question.Description </p>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        }
    }
}
<h4>User Profile</h4>
<hr />
<br />
<table>
    <tr>
        <th>UserName</th>
        <th>User Profile Photo</th>
    </tr>
    <tr>
        <td>@Model.User.UserName</td>
        @if (@Model.User.UserPhoto == null)
        {
            <td> <img style="width: 40px; height: 40px;" src="~/images/Placeholder.png" alt="Profile Picture" /> </td>
        }
        else
        {
            <td><img src="data:image;base64,@System.Convert.ToBase64String(@Model.User.UserPhoto)" width="40" height="40" alt="Profile picture" /></td>
        }
    </tr>
</table>



