@model AskAMech.Domain.Models.Answer

@{
    ViewData["Title"] = "Add";
}
<h4>Answer Question</h4>
<hr />

<br />
<div class="col-md-10">
    <label asp-for="Question"></label>
    <div class="card w-100 bg-light" style="margin-bottom: 0.5rem;">
        <div class="card-body">
            <h6 class="card-title">@Model.Question.Title</h6>
            <p class="card-subtitle mb-2 text-muted">@Model.Question.DateCreated.ToString("yyyy MMMM dd HH:mm:tt")</p>
            <p class="card-text">@Html.Raw(Model.Question.Description)</p>
        </div>
    </div>
</div>


<form asp-action="AnswerQuestion">
    <div>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(model => model.QuestionId)
        <div class="form-group">
            <div class="col-md-10">
                <label asp-for="Description"></label><br/>
                <small>Include all of the details of your answer</small>
            @Html.TextAreaFor(model => model.Description, new {@id = "FullDescription", @class = "form-control", @rows = "10"}) @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
            <script type="text/javascript">CKEDITOR.replace('FullDescription');</script>
            @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
        </div>
        </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12 col-md-10 col-lg-10">
                <input type="submit" class="btn btn-primary" name="submit" value="Create" />
                <input type="reset" class="btn btn-secondary" name="reset" value="Back to List" onclick='window.location = "@Url.Action("Details","Questions",new { id=Model.QuestionId})"' />
            </div>
        </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
