@model AskAMech.Domain.Models.Answer

@{
    ViewData["Title"] = "Add";
}
<br />
<div class="card w-100 bg-light" style="margin-bottom: 0.5rem;">
    <div class="card-body">
        <h6 class="card-title">@Model.Question.Title</h6>
        <p class="card-subtitle mb-2 text-muted">@Model.Question.DateCreated.ToString("yyyy MMMM dd HH:mm:tt")</p>
        <p class="card-text">@Html.Raw(Model.Question.Description)</p>
    </div>
</div>


<form asp-action="AnswerQuestion">
    <div>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(model => model.QuestionId)
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <small>Include all of the details that someone needs to solve their question</small>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12 col-md-10 col-lg-10">

                <input type="submit" class="btn btn-primary" name="submit" value="Create"/>
                <input type="reset" class="btn btn-secondary" name="reset" value="Back to List"  onclick='window.location = "@Url.Action("Details","Questions",new { id=Model.QuestionId})"' />
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
