@model AskAMech.Domain.Models.Answer

@{
    ViewData["Title"] = "Add";
}
<br/>
<div class="card w-100 bg-light" style="margin-bottom: 0.5rem;">
    <div class="card-body">
        <h6 class="card-title">@Model.Question.Title</h6>
        <p class="card-subtitle mb-2 text-muted">@Model.Question.DateCreated.ToString("yyyy MMMM dd HH:mm:tt")</p>
        <p class="card-text">@Html.Raw(Model.Question.Description)</p>
    </div>
</div>


<form asp-action="AnswerQuestion">
    <div>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(model => model.QuestionId)
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <small>Include all of the details that someone needs to solve their question</small>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Details" asp-controller="Questions" asp-ro="@Model.QuestionId"}>Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
