@model AskAMech.Domain.Models.Answer

@{
    ViewData["Title"] = "Add";
}
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.DateCreated)
        </dd>
    </dl>
</div>

    <form asp-action="AnswerQuestion">
        <div>
            <h4>Answer Question</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model=>model.QuestionId)
            <div class="form-group">
                <label asp-for="Description" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <small>Include all of the details that someone needs to solve their question</small>
                    <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Description" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
