@using System.Net.Http
@using AskAMech.Domain.Models
@model AskAMech.Domain.Models.Question

@{
    ViewData["Title"] = "Question Details";
}
@{
    var isQuestionAuthor = @ViewBag.isAuthor;
    var acceptedAnswer = (Answer)ViewBag.AcceptedAnswer;
}


<br />
<div class="card w-100 bg-light" style="margin-bottom: 0.5rem;">
    <div class="card-body">
        <h6 class="card-title">
            @Model.Title
        </h6>
        <p class="card-subtitle mb-2 text-muted">By <a href="@Url.Action("Index", "Profile", new {userId = Model.AuthorId})" class="mb-1">@Model.Author.UserName</a>  on @Model.DateCreated.ToString("yyyy MMMM dd HH:mm:tt")</p>
        <p class="card-text">@Html.Raw(Model.Description)</p>
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-12 col-md-10 col-lg-10">

        <input type="submit" class="btn btn-primary" name="submit" value="Answer Question" onclick='window.location = "@Url.Action("AnswerQuestion","Answers",new { questionId=Model.Id})"' />
        <input type="reset" class="btn btn-secondary" name="reset" value="Back to List" onclick='window.location = "@Url.Action("Index","Questions")"' />
        @if (isQuestionAuthor)
        {
            <input type="submit" class="btn btn-info" name="edit" value="Modify Question" onclick='window.location = "@Url.Action("Edit","Questions",new { id=Model.Id})"' />
        }
    </div>
</div>

<table class="table table-hover">
    <div>
        <h5>@ViewBag.answerCount Answers</h5>
        <hr />
        <ul id="TopBreadcrumb" class="breadcrumb">
            <li class="breadcrumb-item text-muted small">Questions</li>
            <li class="breadcrumb-item text-muted small">Answers</li>
        </ul>
    </div>

    @if (acceptedAnswer != null)
    {
        <div class="card mb-3 border-success">
            <div class="card-header">
                <small> <b>Solution by</b> <a href="@Url.Action("Index", "Profile", new {userId = @acceptedAnswer.AuthorId})" class="mb-1">@acceptedAnswer.Author.UserName</a> @acceptedAnswer.Date.ToLongDateString() : @acceptedAnswer.Date.ToShortTimeString()</small>
                <div style="float: right">
                    <img src="~/images/unnamed.png" style="width: 25px; height: 25px" alt="Accepted Answer" />
                </div>
            </div>
            <div class="card-body">
                <p class="card-text mb-1">@Html.Raw(@acceptedAnswer.Description)</p>

            </div>
        </div>
    }


    <hr />
    @foreach (var item in Model.Answers)
    {
        @if (item.Author.UserName == User.Identity.Name)
        {
            <div class="card mb-3 border-info">
                <div class="card-header">
                    <small> <b>Solution by</b> <a href="@Url.Action("Index", "Profile", new {userId = @item.AuthorId})" class="mb-1">@item.Author.UserName</a> @item.Date.ToLongDateString() : @item.Date.ToShortTimeString()</small>
                    <div style="float: right">
                        @{
                            var hasValue = @Model.AcceptedAnswerId.HasValue && @Model.AcceptedAnswerId.Value == item.AnswerId;
                        }
                        @if (hasValue)
                        {
                            <a class="badge badge-success">Accepted</a>
                        }
                        else if (isQuestionAuthor)
                        {
                            <a href="@Url.Action("AcceptAnswer", "Answers", new {answerId = @item.AnswerId, questionId = @item.QuestionId})"><small>Mark as Accepted</small></a>
                        }
                        

                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text mb-1">@Html.Raw(@item.Description)</p>
                </div>
            </div>
        }
        else
        {
            <div class="card mb-3">
                <div class="card-header">
                    <small> <b>Solution by</b> <a href="@Url.Action("Index", "Profile", new {userId = @item.AuthorId})" class="mb-1">@item.Author.UserName</a> @item.Date.ToLongDateString() : @item.Date.ToShortTimeString()</small>
                    <div style="float: right">

                        @{
                            var hasValue = @Model.AcceptedAnswerId.HasValue && @Model.AcceptedAnswerId.Value == item.AnswerId;
                        }
                        @if (hasValue)
                        {
                            <a class="badge badge-success">Accepted</a>
                        }
                        else if (isQuestionAuthor)
                        {
                            <a href="@Url.Action("AcceptAnswer", "Answers", new {answerId = @item.AnswerId, questionId = @item.QuestionId})"><small>Mark as Accepted</small></a>
                        }
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text mb-1">@Html.Raw(@item.Description)</p>
                </div>
            </div>
        }
    }
</table>
