@model X.PagedList.IPagedList<AskAMech.Domain.Models.Question>
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Index";
}

<style type="text/css">
    #pageNumber {
        display: inline-block;
        padding-right: 10px;
        text-align: center;
    }

    #pageLinks {
        display: inline-block;
        text-align: center;
    }
</style>


<h3>This is what we have been asking...</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.FullName)
                </td>
            </tr>
        }
    </tbody>
</table>

<div style="text-align:center;">
    <div id="pageNumber">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount
    </div>
    <div id="pageLinks">
        @Html.PagedListPager(Model, page => Url.Action("List", "Questions", new { pageNumber = page }))
    </div>
</div>











