@model X.PagedList.IPagedList<AskAMech.Domain.Models.Question>
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Index";
}

<h3>This is what we have been asking...</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Author.FullName)
                </td>
            </tr>
        }
    </tbody>
</table>


<div id="container" style="text-align: center;">

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount @Html.PagedListPager(Model, page => Url.Action("List", new { page }))
</div>


