@model IEnumerable<AskAMech.Domain.Models.Question>
@{ var isAuthenticated = Context.User.Identity.IsAuthenticated; }
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (isAuthenticated)
{
    <p>
        <a asp-action="Add">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Description)
            </th>*@
            <th>
                Author
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Author.FullName)
                </td>
            </tr>
        }
    </tbody>
</table>
